# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dll
*.pdb
OpenCTT/bin/
OCTTAutomatedTT/bin/
OCTTAutomatedTT/obj/
OCTT_MySql_Plugin/obj/
OCTT_MySql_Plugin/bin/
OCTTPluginInterface/bin/
OCTTPluginInterface/obj/
OpenCTT/obj/
/OpenCTT/MyStrings/rename.sh
